name: Build Executable

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build-windows:
    runs-on: windows-latest
    permissions:
      contents: write

    steps:
    - name: Check out repository
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.10"

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip setuptools wheel
        python -m pip install PyInstaller
        pip install --force-reinstall --no-cache-dir numpy
        pip install -r requirements.txt

    - name: Build executable with PyInstaller
      run: |
        python -m PyInstaller --noconfirm --onefile --windowed main.py
        # Genera dist/main.exe

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: ruta-mas-corta-exe
        path: dist/main.exe
